<%- include("partials/header"); -%>
  <% for (const post of posts.reverse()) { %>
    <h1>
      <%=post.title%>
    </h1>
    <p>
      <%=post.content.substring(0, 100) + " ..." %>
        <!-- here i have changed the post name to post._id -->
        <a href="/posts/<%=post._id%>">Read More</a>
    </p>
    <% }%>
      <%- include("partials/footer"); -%>
