<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Confession Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style1.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CONFESSION PAGE</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="confess"><a href="/confess">CONFESSIONS</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="card_container">
    <% for (const post of posts.reverse()) { %>
      <div class="card">
        <div class="card__content">
          <div class="card__front">
            <h3 class="card__title">
              <%=post.title.toUpperCase()%>
            </h3>
            <p class="card__subtitle">
              <%=post.category.toUpperCase()%>
            </p>
          </div>

          <div class="card__back">
            <p class="card__body">
              <%=post.content.substring(0, 500) + " ..." %>
                <!-- here i have changed the post name to post._id -->
                <a href="/posts/<%=post._id%>">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <% }%>
  </div>
  <%- include("partials/footer"); -%>
